.article {
  padding-top: 68px;
  position: relative;
}

.article__header {
  position: relative;
  min-height: 350px;
  height: 30vh;
}

.article__image {
  display: block;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100%;
  width: 100%;
  overflow: hidden;
}

.article__image::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    transparent 25%,
    rgba(34, 34, 34, 0.15) 50%,
    rgba(34, 34, 34)
  );
  z-index: 3;
  transition: height 0.4s ease-out;
  opacity: 1;
}

.article__titles {
  background: linear-gradient(
    180deg,
    transparent 25%,
    rgba(34, 34, 34, 0.15) 50%,
    rgba(34, 34, 34),
    rgba(34, 34, 34, 0.15) 50%
  );
  margin: 0 0 2rem 0;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 50px;
  z-index: 6;
}

.article__title {
  color: var(--color-white);
  font-size: var(--font-size-xlarge);
  line-height: 2.5rem;
  font-weight: 700;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.article__sub-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}

.article__content {
  display: block;
  background-color: var(--color-white);
  color: var(--color-black);
  margin: 1rem auto 2rem auto;
  padding: 1rem 2rem;
  width: 100%;
  max-width: 1000px;

  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
}
