.next-match__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: auto 0;
  color: var(--color-black);
}

.next-match__info {
  margin-left: 1rem;
}

.next-match__crest {
  height: 4rem;
  width: 4rem;
}

.next-match__opposition {
  font-size: var(--font-size-small);
  font-weight: 700;
}

.next-match__location {
  font-size: var(--font-size-small);
  color: #aaa;
}

@media screen and (max-width: 809px) {
  .next-match__home-away {
    display: none;
  }
}
