.scheduled-game {
  padding: 1rem 0;
  margin: 0;
  border-bottom: 1px solid #ddd;
}

.scheduled-game__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: auto 0;
  color: var(--color-black);
}

.scheduled-game__info {
  margin-left: 1rem;
}

.scheduled-game__crest {
  height: 4rem;
  width: 4rem;
}

.scheduled-game__opposition {
  font-size: var(--font-size-small);
  font-weight: 700;
}

.scheduled-game__location {
  font-size: var(--font-size-small);
  color: #aaa;
}

@media screen and (max-width: 809px) {
  .scheduled-game__home-away {
    display: none;
  }
}
