.teamStaffMember {
  color: var(--color-black);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0.5rem 1rem 0.5rem 0;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: auto 0;
}

.info {
  margin-left: 1rem;
}

.name {
  font-size: var(--font-size-small);
  font-weight: 700;
  text-decoration: none;
}

.title {
  font-size: var(--font-size-small);
  color: var(--color-black-light);
}

.image {
  border-radius: 50%;
}

.link {
  display: block;
  text-decoration: none !important;
  padding: 0 0.25rem;
  border-radius: 5px;
}

.link:hover {
  background-color: var(--color-sky-blue);
}
