.homepage {
  min-height: 100vh;
}

.hero {
  position: relative;
  display: block;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350px;
  height: 40vh;
  overflow: hidden;
  padding: 3rem 1rem;
  background-image: url(/images/stories/cover.jpg);
}

@media screen and (max-width: 768px) {
  .hero {
    height: 30vh;
    min-height: auto;
    margin-top: 3rem;
    padding: 1rem;
  }
}

.hero::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    transparent 15%,
    rgba(34, 34, 34, 0.15) 80%,
    rgba(34, 34, 34)
  );
  z-index: 3;
  transition: height 0.4s ease-out;
  opacity: 1;
}

.hero > div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

.featuredTitle {
  font-size: var(--font-size-xlarge);
  line-height: 3rem;
  font-weight: 700;
  color: var(--color-white);
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .featuredTitle {
    font-size: var(--font-size-large);
    line-height: 1.5rem;
  }
}

.featuredSubTitle {
  font-size: var(--font-size-large);
  line-height: 2rem;
  font-weight: 500;
  color: var(--color-white);
  margin: 0.5rem 0 0 0;
}

@media screen and (max-width: 768px) {
  .featuredSubTitle {
    background-color: rgba(0, 0, 0, 0.15);
    font-size: var(--font-size-small);
    font-weight: 500;
    line-height: 1rem;
  }
}

.featuredLink {
  margin: 2rem 0 0 0;
  z-index: 5;
}

@media screen and (max-width: 768px) {
  .maxWidthContainer {
    padding: 0.25rem;
  }
}
