.scheduledGame {
  color: var(--color-black);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0.5rem 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  margin-bottom: 0.5rem;
}

.headerLabel,
.homeAway {
  font-size: var(--font-size-small);
  color: var(--color-black);
  font-weight: 400;
  text-transform: none;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: auto 0;
}

.info {
  margin-left: 1rem;
}

.opposition {
  font-size: var(--font-size-small);
  font-weight: 700;
}

.location {
  font-size: var(--font-size-small);
  color: #aaa;
}

@media screen and (max-width: 809px) {
  .homeAway {
    display: none;
  }
}
