.splitContent {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.mainContent {
  box-sizing: border-box;
  flex: 0 0 70%;
}

.subContent {
  box-sizing: border-box;
  flex: 0 0 30%;
  padding-left: 1rem;
}

@media screen and (max-width: 809px) {
  .splitContent {
    display: block;
  }
}
