.splitContent {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-areas: 'Main Sub';
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.mainContent {
  grid-area: Main;
}

.subContent {
  grid-area: Sub;
}

@media screen and (max-width: 809px) {
  .splitContent {
    display: block;
  }
}
