.resultList > * {
  border-bottom: 1px solid var(--color-border-light);
}

.wrapper {
  margin-bottom: 2rem;
}

.staffList {
  margin: 0;
  padding: 0;
}

.contentTitle {
  margin: 0.75rem 0.5rem 0 0.5rem !important;
}
